@import "../../styles/abstracts/variables";

.loginPage {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .loginFormContainer {
    width: 260px;
    background-color: $bright-color;
    box-shadow: 2px 2px 8px 1px #000000;
    padding: 30px;
    border-radius: 4px;

    .title {
      color: $primary-color;
      text-align: center;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      padding-bottom: 10px;
      margin-bottom: 30px;
      border-bottom: 1px solid $separator-color;
    }
  }
}
