@import "../../styles/abstracts/variables";

.inputContainer {
  .input {
    display: flex;

    input {
      font-size: 14px;
      width: 100%;
      color: $primary-color;
      padding: 4px;
      border: none;
      border-bottom: 1px solid $input-border-color;

      &:focus {
        outline: none;
        padding-bottom: 3px;
        border-bottom-width: 2px;
        border-bottom-color: $primary-color;
        transition-property: border-bottom-color;
        transition-duration: 0.5s;
        transition-timing-function: ease-out;
      }

      &::placeholder {
        font-size: 14px;
        color: $placeholder-color;
      }

      &.error {
        border-bottom-color: $red-color;
      }
    }
  }

  .errorsContainer {
    font-size: 12px;
    margin-top: 6px;
    color: $red-color;
    padding-left: 4px;
    padding-right: 4px;
  }
}
