$primary-color: #7F7AEE;
$primary-color-darker: #524AE8;
$primary-color-bright: #CBC9F8;
$primary-color-brighter: #DCDAFB;
$primary-color-brightest: #EEEDFD;

$dark-color: #333333;

$separator-color: rgba(127, 122, 238, 0.2);
$input-border-color: rgba(127, 122, 238, 0.5);
$placeholder-color: rgba(127, 122, 238, 0.6);

$bright-color: #FFFFFF;
$black-color: #000000;

$red-color: #d66853;
$red-color-brighter: #EFC5BD;
