@import "../../styles/abstracts/variables";

.button {
  border: none;
  border-radius: 0;
  font-size: 14px;
  cursor: pointer;
  padding: 8px 16px;
  outline: none;

  &.disabled {
    cursor: not-allowed;
  }

  &.primary {
    background-color: $primary-color;
    color: $bright-color;

    &:hover {
      background-color: $primary-color-darker;
    }

    &.disabled {
      background-color: $primary-color-bright;
    }
  }

  .loadingIcon {
    margin-right: 4px;
  }
}
