@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.table {
  width: 100%;
  border-collapse: collapse;

  thead {
    color: $primary-color;

    tr {
      background-color: $primary-color-bright;

      th {
        padding: 10px;
        border-right: 1px solid $separator-color;
        font-size: 15px;
        font-weight: 500;

        @include bp(tablet) {
          font-size: 16px;
          font-weight: 600;
        }

        &.sortable {
          cursor: pointer;
        }

        &:last-child {
          border-right: none;
        }
      }
    }
  }

  tbody {
    font-size: 14px;
    color: $dark-color;

    tr {
      background-color: $primary-color-brightest;

      &:nth-child(even) {
        background-color: $primary-color-brighter;
      }

      td {
        padding: 12px 18px;
        border-right: 1px solid $separator-color;

        &:last-child {
          text-align: right;
          border-right: none;
        }
      }
    }
  }
}