@import "../../styles/abstracts/variables";

.layout {
  background-image: linear-gradient(45deg, $black-color, transparent);
  background-color: $dark-color;
  min-height: 100vh;
  min-width: 100%;
}
