@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.servers {
  padding-top: 40px;
  padding-bottom: 40px;

  .serversListContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: $bright-color;
    margin: auto;
    box-shadow: 2px 2px 8px 1px #000000;
    border-radius: 4px;

    @include bp(tablet) {
      width: 800px;
    }

    .serversList {
      width: 100%;
      padding: 20px;

      @include bp(phablet) {
        padding: 20px 30px;
      }

      @include bp(tablet) {
        padding: 30px 40px;
      }

      .title {
        width: 100%;
        font-size: 20px;
        font-weight: 500;
        text-transform: uppercase;
        color: $primary-color-darker;
        border-bottom: 1px solid $separator-color;
        padding-bottom: 6px;
        margin-bottom: 30px;

        @include bp(phablet) {
          font-size: 22px;
        }

        @include bp(tablet) {
          font-size: 24px;
        }
      }
    }
  }
}
