@import "../../styles/abstracts/variables";
@import "../../styles/abstracts/mixins";

.navigation {
  height: 48px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .navigationItem {
    color: $bright-color;
    text-decoration: none;
    font-size: 18px;
    padding: 13px;
    width: 100px;
    text-align: center;
    cursor: pointer;

    &.activeItem {
      background-color: $primary-color-darker;
    }

    &:hover {
      background-color: $primary-color-darker;
    }

    &.logout {
      @include bp(tablet) {
        position: absolute;
        right: 0;
      }
    }
  }
}
